.bg-grey-light {
    background-color: var(--grey-light);
}

.text-grey-medium {
    color: var(--grey-medium);
}

.text-grey-dark {
    color: var(--grey-dark);
}

.text-error-red {
    color: var(--error-red);
}