.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

@media (min-width: 1440px) {
    .d-lg-block {
        display: block !important;
    }

    .d-lg-flex {
        display: flex !important;
    }
}