.product-slider {
    overflow: hidden;
}

.product-slider .slider-container .slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-slider .slider-container .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: var(--px-1);
}

.product-slider .slider-container .slides .slide {
    box-sizing: border-box;
    height: 340px;
    width: 184px;
    background-color: white;
}

.product-slider .pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.product-slider .pagination .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--grey-medium);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-slider .pagination .dot.active {
    background-color: var(--blue);
}

.product-slider .slider-container .slider-header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.product-slider .slider-container .slide-reviews {
    display: flex;
    gap: 4px;
    align-items: center;
}

.product-slider .slider-container .slide-price {
    display: flex;
    align-items: end;
}

.product-slider .slider-container .slide-description {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 250px;
}

.product-slider .slider-container img {
    max-height: 160px;
}

@media (min-width: 360px) {}

@media (min-width: 768px) {
    .product-slider .slider-container .slides {
        gap: var(--px-3);
    }
}

@media (min-width: 1440px) {
    .product-slider .slider-container .slides {
        gap: var(--px-2);
    }

    .product-slider .slider-container .slides .slide {
        min-height: 458px;
        min-width: 288px;
    }

    .product-slider .slider-container img {
        max-height: 240px;
    }

    .product-slider .slider-container .slide-description {
        display: block;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        -webkit-box-orient: unset;
        max-width: unset;
        overflow: visible;
    }
}